<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | MercadoLibre</title>
    <link rel="stylesheet" href="/CSS/checkout2.css">
</head>
<body>
    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
        </div>
    </nav>

    <main>
        <section class="seccion-1">
            <h1>¿Cómo quieres pagar?</h1>
            
            <form action="/checkoutConfirmacion/<%= ordenes._id %>" method="get">
                <h3>Con Mercado Pago</h3>
                <div class="blanco">
                    <input class="checkbox" type="checkbox" name="metodoDePago" value="visa">
                    <label for="">Visa ****5675</label>
                </div>
                <div class="blanco">
                    <input class="checkbox" type="checkbox" name="metodoDePago" value="Banco BBVA">
                    <label for="">Banco BBVA ****9864</label>
                </div>
                <div class="blanco">
                    <input class="checkbox" type="checkbox" name="metodoDePago" value="nueva tarjeta de credito">
                    <label for="">Nueva tarjeta de credito</label>
                </div>
                <div class="blanco">
                    <input class="checkbox" type="checkbox" name="metodoDePago" value="nueva tarjeta de debito">
                    <label for="">Nueva tarjeta de débito</label>
                </div>
                <h3>Con otras formas de pago</h3>
                <div class="blanco redondeado">
                    <input class="checkbox" type="checkbox" name="metodoDePago" value="transferencia">
                    <label for="">Transferencia desde tu banco con PSE</label>
                </div>
                
                <div>
                    <a href="">
                        <button type="submit">Continuar</button>
                    </a>
                </div>
            </form> 
        
        </section>
        <% for(const product of products) { %>
        <section class="seccion-2">
            <div class="tarjeta">
                <div class="cont-img">
                    <img width="224" height="224" src="<%= product.img %>"
                        alt="<%= product.name %>">
                </div>
                <h2><%= product.name %></h2>
                <hr>
                <div>
                    <p class="parrafo">Cantidad: <%= product.cantidad %></p>
                    <p class="parrafo">precio: $ <%= product.price %></p>
                    <p class="parrafo">Envio: Gratis</p>
                </div>
                <hr>
                <div>
                    <p class="parrafo">Total: $ <%= product.total %></p>
                </div>
            </div>
            <% } %>
        </section>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>
</body>
</html>