<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicicleta Fuji Rookie Rin 20 Niña Blanco Perla Infantiles | MercadoLibre</title>
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
    <link rel="stylesheet" href="/CSS/detalleDelProducto.css">
</head>
<body>
    
    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
            <div class="link">
                <a href="">
                    Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="contenido-nav-2">
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas y mas...">
                <button type="submit">
                    <div>
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </div>
                </button>
            </form>
            <div class="link-2">
                <ul>
                    <li>Historial</li>
                    <li>Tiendas oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </div>
        </div>
        <div class="contenido-nav-3">
            <div>
                <img src="https://http2.mlstatic.com/D_NQ_789074-MLA51377199768_092022-OO.webp" title="Envío Express" alt="Envío Express" width="340" height="34">
            </div>
            <div class="link">
                <ul>
                    <li>Crea tu cuenta</li>
                    <li>Ingresa</li>
                    <li>Mis compras</li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section class="seccion-1">
            <% for(const product of products) { %>
            <div class="cont-img">
                <img width="470" height="370" src="<%= product.img %>" alt="<%= product.name %>">
            </div>
            <hr>
            <div class="info-1">
                <h2>Características del producto</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Marca</th>
                            <td><%= product.marca %></td>
                        </tr>
                        <tr>
                            <th>Modelo</th>
                            <td><%= product.modelo %></td>
                        </tr>
                        <tr>
                            <th>Tamaño</th>
                            <td><%= product.tamaño %></td>
                        </tr>
                        <tr>
                            <th>Genero</th>
                            <td><%= product.genero %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="info-2">
                <h2 >Descripción</h2>
                <p>
                    HORARIO DE TRABAJO <br><br>
                    De lunes A sábado: <br>
                    De 10:00am A 5:00pm <br>
                    DOMINGOS: <br>
                    11:00 am A 4:00 pm <br><br>
                    MÉTODOS DE PAGO <br><br>
                    - Transferencia bs/$ <br>
                    - Tarjeta de débito/Crédito (solo en tienda) <br>
                    - Efectivo bs/divisas (solo en tienda) <br>
                    - ZELLE <br>
                    - PayPal <br>
                    - Binance <br><br>
                    MÉTODOS DE DESPACHO <br><br>
                    Retiro Personalmente en Nuestra tienda física <br>
                    Delivery en caracas <br>
                    Envíos a Nivel Nacional <br><br>
                    - MRW <br>
                    - Zoom <br>
                    - Tealca <br>
                </p>
            </div>  
            <hr>
            <div class="info-3">
                <h2>Preguntas y respuestas</h2>
                <form action="">
                    <input type="text" name="" id="" placeholder="Escrbe tu pregunta">
                    <button type="submit">Preguntar</button>
                </form>
                <div>
                    <h3>Ultimas realizadas</h3>
                    <div>

                    </div>
                </div>
            </div>  
        </section>
        <section class="seccion-2">
            <div class="tarjeta">
                <h1><%= product.name %></h1>
                <p class="precio">$ <%= product.price %></p>
                <p>Envio gratis a todo el país</p>
                <p>Disponible</p>
                <form id="formulario" action="">
                    <label for="">Cantidad de productos:</label>
                    <input id="grupo__cantidad" type="text" name="cantidad" placeholder="1 o 2">
                    <p class="formulario__input-error">La cantidad solo puede contener numeros y el maximo son 4 dígitos.</p>
                    <a href="/carrito/agregar/<%= product._id %>">
                        <button id="comprar" type="button">Comprar ahora</button>
                    </a>
                </form>
            </div>
            <% } %>
        </section>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
    <script src="/cantidad.js"></script>
</body>
</html>

