<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre Venezuela - Envíos Gratis en el día</title>
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>

    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
            <div class="link">
                <a href="">
                    Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="contenido-nav-2">
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas y mas...">
                <button type="submit">
                    <div>
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </div>
                </button>
            </form>
            <div class="link-2">
                <ul>
                    <li>Historial</li>
                    <li>Tiendas oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </div>
        </div>
        <div class="contenido-nav-3">
            <div>
                <img src="https://http2.mlstatic.com/D_NQ_789074-MLA51377199768_092022-OO.webp" title="Envío Express" alt="Envío Express" width="340" height="34">
            </div>
            <div class="link">
                <ul>
                    <li>Crea tu cuenta</li>
                    <li>Ingresa</li>
                    <li>Mis compras</li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="titulo">
            <h1>Productos</h1>
            <a href="/productos">Ver más</a>
        </div>
        <section>
            <% for(const product of products) { %>
            <div class="tarjeta">
                <a href="/detalleDelProducto/<%= product._id %>">
                    <div>
                        <img width="224" height="224" src="<%= product.img %>" alt="<%= product.name %>">
                    </div>
                    <hr>
                    <div class="informacion">
                        <h2 class="precio">$ <%= product.price %></h2>
                        <p class="envio">Envio gratis</p>
                        <p class="info"><%= product.name %></p>
                    </div>
                </a>
            </div>
            <% } %>
        </section>
    </main>

    <section class="seccion-informativa">
        <div>
            <img src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/buy-heart.svg" alt="Compra sin moverte">
            <h2>Compra sin moverte</h2>
            <p><span>Encuentra lo que necesitas, y coordina el pago y la entrega con el vendedor. Es fácil y rápido. ¡Todos podemos hacerlo!</span> </p>
            <a href="https://ayuda.mercadolibre.com.ve/ayuda/Compras_638">Cómo comprar en Mercado Libre</a>
        </div>
        <div>
            <img src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/shipping.svg" alt="Recibe tu producto">
            <h2>Recibe tu producto</h2>
            <p><span>Acuerda la entrega de tu compra con el vendedor. Puedes recibirlo en tu casa, en la oficina o retirarlo. ¡Tú decides qué prefieres!</span> </p>
            <a href="https://ayuda.mercadolibre.com.ve/ayuda/Como-recibir-el-producto_924">Cómo coordino la entrega</a>
        </div>
        <div>
            <img src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/ecosystem/free-sell.svg" alt="Vende gratis">
            <h2>Vende gratis</h2>
            <p><span>Miles de personas quieren lo que ofreces. Publica y verás qué pronto llegan las compras. ¡Tú no pagas nada!</span> </p>
            <a href="https://ayuda.mercadolibre.com.ve/ayuda/Vender-un-producto_988">Cómo vender en Mercado Libre</a>
        </div>
    </section>
    <hr>
    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>