<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden | MercadoLibre</title>
    <link rel="stylesheet" href="/CSS/orden.css">
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
</head>
<body>

    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
        </div>
    </nav>

    <main>
        <div class="cont-detalles">
            <div>
                <h4>NUMERO DE ORDEN: |</h4>
                <small>
                    <strong><%= ordenes._id %></strong>
                </small>
            </div>
            <div>
                <h4>DIRECCIÓN: |</h4>
                <small>
                    <strong><%= ordenes.direccion %></strong>
                </small>
            </div>
            <div>
                <h4>DATE: |</h4>
                <small>
                    <strong><%= ordenes.date %></strong>
                </small>
            </div>
            <div>
                <h4>TOTAL: |</h4>
                <small>
                    <strong>$ <%= ordenes.total %></strong>
                </small>
            </div>
            <div>
                <h4>METODO DE PAGO: |</h4>
                <small>
                    <strong><%= ordenes.metodoDePago %></strong>
                </small>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>
</body>
</html>