<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
    <link rel="stylesheet" href="/CSS/compras.css">
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.5/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
</head>
<body>

    <nav class="nav">
        <div class="contenido-nav-1">
            <a class="nav-logo" href="/">
                <img src="/Imagenes/mercado-libre-logo.png" alt="logo de mercadolibre" width="134" height="34">
            </a>
            <div class="link">
                <a href="">
                    Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="contenido-nav-2">
            <form action="/buscar" method="get">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar productos, marcas y mas..." >
                <button type="submit">
                    <div>
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </div>
                </button>
            </form> 
            <div class="link-2">
                <ul>
                    <li>Historial</li>
                    <li>Tiendas oficiales</li>
                    <li><a href="/vender">Vender</a></li>
                    <li>Ayuda</li>
                </ul>
            </div>
        </div>
        <div class="contenido-nav-3">
            <div>
                <img src="https://http2.mlstatic.com/D_NQ_789074-MLA51377199768_092022-OO.webp" title="Envío Express" alt="Envío Express" width="340" height="34">
            </div>
            <div class="link">
                <ul>
                    <li><a href=""><i class="fa-regular fa-user"></i> <%= userName %></a></li>
                    <li><a href="/logout"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
                    <li><a href="/compras/<%= idUsuario %>">Compras</a></li>
                    <li><a href="/publicaciones/<%= idUsuario %>">Publicaciones</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="titulo">
            <h2>Publicaciones</h2>
        </div>
        <% for(const product of products) { %>
        <section class="seccion-1">
            <div class="blanco">
                <div>
                    <p><%= ordenes.date %></p>
                </div>
                <hr>
                <div class="contenido">
                    <div class="flex">
                        <div class="img">
                            <img src="<%= product.img %>" alt="" width="48" height="48">
                        </div>
                        <div class="datos">
                            <h4>Entregado</h4>
                            <p><%= product.name %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% } %>
    </main>

    <footer>
        <div>
            <nav class="nav-footer-navigation">
                <a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mlv&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre">Trabaja con nosotros</a>
                <a href="https://www.mercadolibre.com.ve/ayuda/terminos-de-uso-de-mercadolibre_1988">Términos y condiciones</a>
                <a href="https://www.mercadolibre.com.ve/privacidad">Cómo cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.ve/accesibilidad">Accesibilidad</a>
                <a href="https://www.mercadolibre.com.ve/ayuda">Ayuda</a>
            </nav>
            <small >Copyright ©&nbsp;1999-2022 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</small>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>